---
all:
  children:
    k8s_cluster:
      hosts:
        node-01:
          ansible_host: 192.168.1.101
          ansible_user: ubnadmin
          ansible_password: "{{ vault_ssh_password }}"
          ansible_become_pass: "{{ vault_ssh_password }}"
        node-02:
          ansible_host: 192.168.1.102
          ansible_user: ubnadmin
          ansible_password: "{{ vault_ssh_password }}"
          ansible_become_pass: "{{ vault_ssh_password }}"
        node-03:
          ansible_host: 192.168.1.103
          ansible_user: ubnadmin
          ansible_password: "{{ vault_ssh_password }}"
          ansible_become_pass: "{{ vault_ssh_password }}"
      children:
        k8s_masters:
          hosts:
            node-01:
        k8s_workers:
          hosts:
            node-02:
            node-03:
  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_python_interpreter: /usr/bin/python3
